<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Laracasts - Vue</title>
  </head>
  <body>
    <div id="root">
      <ul>
        <!-- <li v-for="name in names">{{ name }}</li> -->
        <li v-for="name in names" v-text="name"></li>

        <input id="input" type="text" name="" value="">
        <button id="button" type="button" name="button">Add Name</button>
      </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
  </body>
  <script>
    const app = new Vue({
      el: '#root',
      data: {
        names: ['Brandon', 'Lauren', 'Riley', 'Hamlet']
      },
      mounted () {
        document.querySelector('#button').addEventListener('click', () => {
          let name = document.querySelector('#input');
          app.names.push(name.value);

          name.value = '';
        });
      }
    });
  </script>
</html>
